<app-header titulo="Cards"></app-header>

<ion-content>
  <!-- Con mode forzamos visualización para todos los dispositivos igual
  mode: ios para visualización Apple
  mode: md para visualización Android -->
  <ion-card mode="ios" color="danger">
    <ion-card-header>
      <ion-card-title>Título</ion-card-title>
      <ion-card-subtitle>Subtitulo</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta incidunt porro maxime dolore, dolorum repellendus quae libero debitis voluptas sed ut quia tempora, 
      eius ipsa quam aliquam voluptate accusantium rerum.</ion-card-content>
  </ion-card> 
  <ion-card>
  <ion-item color="primary">
    <ion-icon color="light" slot="start" name="pin"></ion-icon>
    <ion-label>Marcador</ion-label>
  </ion-item>
  <ion-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Ab, repudiandae. Ex labore iste dolore porro illum incidunt debitis id modi totam rem eius velit enim voluptatibus ipsum, quae quidem nihil!</ion-card-content>
</ion-card>
<ion-card>
  <ion-img src="/assets/shapes.svg"></ion-img>
  <ion-card-header>
    <ion-card-title>Titulo</ion-card-title>
  </ion-card-header>
  <ion-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Laborum tempora cum eius ratione minima, ipsa natus eaque! Voluptatibus labore, recusandae sed, magni iusto, rem sequi perspiciatis eveniet dolore nam excepturi!</ion-card-content>
</ion-card>